* {
  box-sizing: border-box; }

.controles {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  height: 40px;
  align-items: center; }
  .controles > div {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #000000;
    border-right: 5px solid #000000;
    cursor: pointer; }
    .controles > div:hover {
      border-color: #FEA623; }
  .controles .arr-next {
    transform: rotate(-45deg); }
  .controles .arr-prev {
    transform: rotate(135deg); }

.drag-container {
  display: block; }
  .drag-container > div {
    width: 100%;
    height: 131px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0; }
    .drag-container > div ul {
      width: 100%;
      height: 100%;
      display: flex;
      overflow-x: visible;
      flex-flow: row nowrap;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 0; }
      .drag-container > div ul li {
        flex: 1 0 123.5px;
        background-color: #fefefe;
        border: 1px solid #000000;
        text-align: center;
        line-height: 131px;
        margin-right: 15px;
        user-select: none; }
